<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="emailerror" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Logs\AuthCodeProblemErrorLog\"/>
    <add key="ProblemsDirectory" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Logs\Problems\"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="FromEmailAddress" value="j0sanc02@gmail.com"/>
    <add key="toEmailAddress" value="jsanchez@systemaxcorp.com"/>
    <add key="otherEmailAddresses" value="jsanchez@systemaxcorp.com,j0sanc02@gmail.com"/>
    <add key="username" value ="jsanchez@systemaxcorp.com"/>
    <add key="password" value ="sanchez@819"/>
    <add key="port" value="587"/>
    <!--<add key="SMEproblems" value="D:\AuthCode\SME\Problems\"/>
    <add key="Frazierproblems" value="D:\AuthCode\Frazier\Problems\"/>
    <add key="email_server" value="MaxUnderwood@KentuckyOneHealth.org"/>
    <add key="email_from" value="jsanchez@systemaxcorp.com"/>
    <add key="email_to" value="jsanchez@systemaxcorp.com"/>
    <add key="cc" value ="j0sanc02@gmail.com"/>
    <add key="mailclient" value="smtp.gmail.com"/>
    <add key="emailerror" value="D:\AuthCode\email\"/>-->
  </appSettings>

  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
